@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.wrapText {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.glow-line-parent {
  transform: translate(-50%, -50%);
}

.glow-line-child-initial {
  background: radial-gradient(
      1% 60% at 50% 50%,
      #fff 0,
      rgba(70, 0, 255, 0) 80%
    ),
    radial-gradient(
      10% 60% at 50% 50%,
      #fff,
      rgba(70, 0, 255, 1) 20%,
      rgba(70, 0, 255, 0) 100%
    ),
    radial-gradient(
      8% 50% at 50% 50%,
      #fff,
      rgba(68, 0, 255, 0.876) 20%,
      rgba(70, 0, 255, 0) 100%
    );
}

.glow-line-child-touching {
  opacity: 0;
  transition: opacity 0.6s;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 45%,
    rgba(255, 255, 255, 1) 47%,
    rgb(68, 0, 255) 49%,
    rgba(152, 25, 228, 0) 68%
  );
}

.is-touching {
  opacity: 1 !important;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(10%);
  }
}

.marquee {
  animation: marquee 70s linear infinite;
}

* {
  overflow-x: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeIn {
  animation: fadeIn 0.5s ease-in forwards;
}

.fadeOut {
  animation: fadeOut 0.5s ease-out forwards;
}

* {
  box-sizing: border-box;
}

.element {
  background: radial-gradient(
    140% 107.13% at 50% 10%,
    transparent 37.41%,
    #63e 69.27%,
    #fff 100%
  );
}
